# vim:tw=0:ts=2:sw=2:et:norl:ft=gitconfig

# YOU: Copy this file to ~/.gitconfig.local and customize.

[user]

  name = XXX

  email = XXX@users.noreply.github.com

  # See: gpg --list-secret-keys --with-colons
  #
  #   signingkey = XXXXXXXXXXXXXXXX

[commit]

  # gpgSign = true

[include]

  # E.g.,
  #
  #   path = ~/.more-git/git-private-command.gitc

[interactive]

  # Add a visual break (colorful flower bed)
  # between interactive patch hunks.
  diffFilter = diff-filter-garden

  # The singleKey option is not in git-FlU/.gitconfig proper because
  # it can be aggravating if your brain's not ready and wired for it.
  # - But it's here to remind you that it exists, and you might like.
  #
  #   singleKey = true

[alias]

  # Your Private, Personal, Too Embarrassing To Share Aliases Here. E.g.,
  #
  # - With thanks to artist b'ger
  #   http://www.ascii-art.de/ascii/uvw/vomit.txt
  puke = \
    ! echo \
      "ICAgICAgICAgICAgICAgICAgICAlJSUlJSUKICAgICAgICAgICAgICAgICAgICUlJSUgPSA9CiAg \
       ICAgICAgICAgICAgICAgICAlJUMgICAgPgogICAgICAgICAgICAgICAgICAgIF8pJyBfKCAuJyAs \
       CiAgICAgICAgICAgICAgICAgX18vIHxfL1wgICAiICouIG8KICAgICAgICAgICAgICAgIC9gIFxf \
       XCBcLyAgICAgJWA9ICdfICAuCiAgICAgICAgICAgICAgIC8gICkgICBcL3wgICAgICAuXicsKi4g \
       LAogICAgICAgICAgICAgIC8nIC8tICAgby8gICAgICAgLSAiICUgJ18KICAgICAgICAgICAgIC9c \
       Xy8gICAgIDwgICAgICAgPSAsIF4gfiAuCiAgICAgICAgICAgICApX298LS0tLSd8ICAgICAgICAg \
       IC5gICAnCiAgICAgICAgIF9fXy8vIChfICAtIChcCiAgICAgICAgLy8vLSggICAgXCcgICBcXCBi \
       J2dlcgo=" \
      | tr -d '[:space:]' \
      | base64 --decode;

