# vim:tw=0:ts=2:sw=2:et:norl:ft=gitconfig
# Project: https://github.com/landonb/git-smart#💡
# License: MIT

# YOU: Copy this file to ~/.gitconfig.local and customize.

[user]

  name = XXX

  email = XXX@users.noreply.github.com

# *** Commit signing
#
# USAGE: Enable signing by performing the following actions:
#
# - (1a) Generate a key with `gpg --gen-key`
#        - HINT: If you already generated the key, look for it:
#            gpg --list-secret-keys
#   (1b) Use the same 'noreply' email used for user.email
#
# - (2a) Print the public key with `gpg --armor --export user-id <email-or-ID>`
#   (2b) Paste the public key to https://github.com/settings/gpg/new
#   (2c) Paste the key ID below (you can use just the last 8 digits).
#
# - (3a) To setup signing globally, for all repos (prob. not ideal),
#        uncomment the [user] and [commit] sections below
#   (3b) To setup signing for specific projects (more flexible),
#        use [includeIf]:
#        - Copy the [user] and [commit] sections to a new file,
#          e.g., ".gitconfig-signing", and uncomment.
#        - Add [includeIf] sections below to selectively include projects, e.g.,
#            [includeIf "gitdir:~/.kit/git/git-smart/"]
#            path = .gitconfig-signing
#
# [user]
#
#   signingkey = XXXXXXXX
#
# [commit]
#
#   gpgSign = true

[include]

  # E.g.,
  #
  #   path = ~/.more-git/git-private-command.gitc

[interactive]

  # Project: https://github.com/landonb/git-veggie-patch
  #
  # Add a visual break (colorful flower bed) between interactive patch hunks.
  diffFilter = diff-filter-garden

  # The singleKey option is not in git-smart/.gitconfig proper because
  # it can be aggravating if your brain's not ready and wired for it.
  # - But it's here to remind you that it exists, and you might like.
  #
  #   singleKey = true

[alias]

  # Your Private, Personal, Too Embarrassing To Share Aliases Here. E.g.,
  #
  # - With thanks to artist b'ger
  #   http://www.ascii-art.de/ascii/uvw/vomit.txt
  puke = \
    ! echo \
      "ICAgICAgICAgICAgICAgICAgICAlJSUlJSUKICAgICAgICAgICAgICAgICAgICUlJSUgPSA9CiAg \
       ICAgICAgICAgICAgICAgICAlJUMgICAgPgogICAgICAgICAgICAgICAgICAgIF8pJyBfKCAuJyAs \
       CiAgICAgICAgICAgICAgICAgX18vIHxfL1wgICAiICouIG8KICAgICAgICAgICAgICAgIC9gIFxf \
       XCBcLyAgICAgJWA9ICdfICAuCiAgICAgICAgICAgICAgIC8gICkgICBcL3wgICAgICAuXicsKi4g \
       LAogICAgICAgICAgICAgIC8nIC8tICAgby8gICAgICAgLSAiICUgJ18KICAgICAgICAgICAgIC9c \
       Xy8gICAgIDwgICAgICAgPSAsIF4gfiAuCiAgICAgICAgICAgICApX298LS0tLSd8ICAgICAgICAg \
       IC5gICAnCiAgICAgICAgIF9fXy8vIChfICAtIChcCiAgICAgICAgLy8vLSggICAgXCcgICBcXCBi \
       J2dlcgo=" \
      | tr -d '[:space:]' \
      | base64 --decode;

